<h1> Home Page </h1>

<p> Welcome to the home of Larry Diggity, Hammerer of the Hot Dog; Dolph Bürgen, champion of the Cheeseburger; Maurice Mouceca, master of the Mouqueca; and Barkevius Beeks, juggernaut of all foods Brasilian. </p>

<a href="/users/new"><img id= "chefs" src="http://thetenacioustrader.com/wp-content/uploads/2012/01/iStock_000016358320Medium.jpg" alt="Chefs Boy" width="700" height="450"></a>