// Place all the styles related to the chefs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family:"Didot";
  background-color:AliceBlue;
  color:#778899;
  font-size: 18px;
  text-align: center;
}

table {
  margin: 0 auto;

}


